nav {
    margin-bottom: 80px;
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white !important;
    background-color: #63a8a5 !important;
    font-size: 20px;
    font-weight: 700;
}

body {
    background-image: url(./ignasi_pattern_s.png);
}

#about-me-box {
    padding: 25px;
    background-color: white;
}

h1 {
    color: #63a8a5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mypicture {
    float:left;
    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}