nav {
    margin-bottom: 65px;
}

.navbar {
    background-color: black !important;
}
.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F4F4F4 !important;
    background-color: #cf7500 !important;
    font-size: 20px;
    font-weight: 700;
}

body {
    background-image: url(./portfoliobackground.jpg);
}
main {
    padding-bottom: 165px;
}

#about-me-box, #contact-me-box, #portfolio-box {
    padding: 25px;
    background-color: white;
}

h1 {
    color: #cf7500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

#mypicture {
    float:left;
    max-width: 250px;
    max-height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #cf7500;
    color: white;
}

.phimg {
    max-width: 350px;
    max-height: 350px;
    vertical-align: middle;
    width: 100%;
}

.footer-mycss {
    background-color: black;
    border-top: 6px solid #cf7500;
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;
    margin-top: -60px; 
    line-height: 55px;
    font-size: 18;
    color: #F4F4F4;
}

#break {
    margin-top: 15px;
}